[submodule "community-guidelines"]
	path = community-guidelines
	url = ../community-guidelines
[submodule "tickets"]
	path = tickets
	url = ../ticket-access.git
[submodule "mediaconsent"]
	path = mediaconsent
	url = ../media-consent-access.git
