Alex Forward <aforward@studentrobotics.org> <alex@lintilla.ecs.soton.ac.uk>
Chris Kirkham <chrisjameskirkham@gmail.com> <ckirkham@optimusprime.ecs.soton.ac.uk>
Chris Kirkham <chrisjameskirkham@gmail.com> Chris <chrisjameskirkham@gmail.com>
Chris Kirkham <chrisjameskirkham@gmail.com> Chris Kirkham <chrisjameskirkahm@gmail.com>
Alistair Lynn <alynn@studentrobotics.org> <arplynn@gmail.com>
Tim Jones <ymbirtt@gmail.com> <ymbirtt@github.com>
Rob Spanton <rspanton@zepler.net>
Jeremy Morse <jmorse@studentrobotics.org> <jmorse+git@studentrobotics.org>
