Alistair Lynn <alynn@studentrobotics.org> <arplynn@gmail.com>
Alistair Lynn <alynn@studentrobotics.org> Alastair Lynn
Chris Kirkham <chrisjameskirkham@gmail.com>
Chris Kirkham <chrisjameskirkham@gmail.com> <ckirkham@optimusprime.ecs.soton.ac.uk>
Rob Spanton <rob@robspanton.com> Robert Spanton
Rob Spanton <rob@robspanton.com> <rspanton@zepler.net>
Rob Spanton <rob@robspanton.com> <rob@xgoat.com>
Tim Jones <ymbirtt@gmail.com> <ymbirtt@github.com>
Tim Jones <ymbirtt@gmail.com> Ymbirtt
Tom Leese <tom@tomleese.me.uk> <leese.thomas81@gmail.com>
Tom Leese <tom@tomleese.me.uk> <inbox@tomleese.me.uk>
Alex Forward <aforward@studentrobotics.org> <alex@lintilla.ecs.soton.ac.uk>
Andy Cottrell <acottrell@studentrobotics.org> <Ultimatereality92@gmail.com>
Andy Cottrell <acottrell@studentrobotics.org> <ultimatereality92@gmail.com>
Jeremy Morse <jmorse@studentrobotics.org> bees <bees>
Jeremy Morse <jmorse@studentrobotics.org> <jmorse+git@studentrobotics.org>
Jeremy Morse <jmorse@studentrobotics.org> <jeremy.morse@gmail.com>
Murray Colpman <muzer@tim32.org> Murray
George Field <gfield145@gmail.com> ks07
Christopher Baines <cbaines@studentrobotics.org> <cbaines8@gmail.com>

