Alex Forward <aforward@studentrobotics.org> <alex@lintilla.ecs.soton.ac.uk>
Chris Kirkham <chrisjameskirkham@gmail.com> <ckirkham@optimusprime.ecs.soton.ac.uk>
Chris Kirkham <chrisjameskirkham@gmail.com> Chris <chrisjameskirkham@gmail.com>
Chris Kirkham <chrisjameskirkham@gmail.com> Chris Kirkham <chrisjameskirkahm@gmail.com>
Andrew Cottrell <acottrell@studentrobotics.org> Andrew Cottrell <Ultimatereality92@gmail.com>
Andrew Cottrell <acottrell@studentrobotics.org> ACottrell <Ultimatereality92@gmail.com>
Rob Spanton <rspanton@zepler.net> Rob Spanton <rob@xgoat.com>
Rob Spanton <rspanton@zepler.net> Robert Spanton <rspanton@zepler.net>
Rob Spanton <rspanton@zepler.net> Rob Spanton <rob@robspanton.com>
Christopher Baines <cbaines8@gmail.com> Christopher Baines <cbaines@studentrobotics.org>
Alistair Lynn <alynn@studentrobotics.org> Alastair Lynn <arplynn@gmail.com>
Tim Jones <ymbirtt@gmail.com> Ymbirtt <Ymbirtt@gmail.com>
Tim Jones <ymbirtt@gmail.com> Tim Jones <ymbirtt@github.com>
Jeremy Morse <jmorse+git@studentrobotics.org> Jeremy Morse <jeremy.morse@gmail.com>
Jeremy Morse <jmorse+git@studentrobotics.org> Jeremy Morse <jmorse@studentrobotics.org>
Murray Colpman <muzer@tim32.org> Murray <muzer@tim32.org>
